[submodule "lib/RealWorldSimY4"]
	path = lib/RealWorldSimY4
	url = https://github.com/JackDalton3110/RealWorldSimY4.git
[submodule "RealWorldSimY4"]
	path = RealWorldSimY4
	url = https://github.com/JackDalton3110/RealWorldSimY4.git
[submodule "lib/p0-C00202505"]
	path = lib/p0-C00202505
	url = https://github.com/AaronCur/p0-C00202505.git
